
/* Style inputs with type="text", select elements and textareas */

.topContact{
    margin: 0px 50px 10px 20px;
    width: 50%; 
    float: left;    
}

.topSignup{
	margin: 0px 25% 10px 25%;
	width: 50%;	
}

.contactPara{
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0px 10px 50px;
    font-family: 'Vollkorn', serif;

}

 .signUptPara{

	font-size: 30px;
	font-weight: 600;
    margin: 30px 20% 10px 20%;
    font-family: 'Vollkorn', serif;

}
 

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/*This is for offerForRent Page*/
.chooseFile {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}



.pass {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.Contactcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.normalFont{
  font-size: 18px;
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 20px;
  }