/*-------------------------------------------------
GLOBALS CLASSES 
-------------------------------------------------*/
*{padding:0; margin:0;}
h1{ 
  font-size:18px; 
  color:#d13f31; 
  font-family: 'Oswald', sans-serif; 
  font-weight:normal; 
  /*text-transform:uppercase;*/
}

h2{ 
  font-size:14px; 
  color:#1f7872; 
  font-family: 'Droid Serif', serif; 
  font-weight:normal;
}
a{
  text-decoration:none; 
  color:#1f7872;
}

/*-------------------------------------------------
SUCCESS AND ERROR
-------------------------------------------------*/

.success{font-size:20px; color:green; background-color: #e8ecf2; border: 2px solid green;  text-align: center;}
.error{font-size:20px; color:red; background-color: #e8ecf2; border: 2px solid red; text-align: center;}


/*-------------------------------------------------
MENU CLASSES
-------------------------------------------------*/

/*.menu-wrap{ 
  overflow:hidden; 
  background:#1a202c;
}
*/
.menu{
  margin:0 auto; 
  width:100%; 
  background:black; /*d13f31*/ 
  height:45px; 
  margin-top:0px;
}


.menu ul li{
  list-style:none; 
  float:left; 
  width:auto;
  position:relative;
  left: 15%;
}


.menu ul li a, .dropbtn{ 
  display:block; 
  height:45px; /*Previous 85px*/
  line-height:45px; 
  padding-left:25px; 
  padding-right:25px; 
  font-size:18px; 
  /*font-family: 'Oswald', sans-serif; */
  font-family: 'Fresca', sans-serif;
  color:#ffffff; 
  border-right:black solid 1px;  /*dd503f*/
  font-weight: bold;
  /*text-transform:uppercase;*/
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
   
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 100;
}

.menu ul li a:hover, .dropdown:hover .dropbtn{
 background:#e1ece7; 
 color:#1a202c;
}

.menu ul li a.active{
  background:black; 
  color:white;
}

/*.menu ul li a.active{
 background:#e1ece7; 
 color:#1a202c;
}*/


/*-------------------------------------------------
NAME AND LOGO PART
-------------------------------------------------*/
.header{
  margin:0 auto; 
  width:85%; 
  height:90px;
  
}

.logo{
  width:300px; 
  float:left; 
  line-height:70px;
}

.logo h1{ 
  font-size:50px;
  color:#d13f31; 
  font-weight:bold;
  font-family: 'Freckle Face', cursive;
}

.logo h1 span{
 color:#1a202c;
 text-transform: uppercase;

}

.social{ 
  float:right; 
  margin-top:10px;

}

.loginBtn{

    background-color: black; /*d13f31*/
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Kalam', cursive;
    font-size: 17px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

/*-------------------------------------------------
AUTOMATIC `SLIDESHOW
-------------------------------------------------*/
/* Slideshow container */

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 96%;
  position: relative;
  margin: auto;
}
 

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/*-------------------------------------------------
SEARCH BOX 
-------------------------------------------------*/

.searchBox{
  width: 50%;
    box-sizing: border-box;
    border: 10px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search.png');
    background-position: 10px 8px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin:0% 0% 0% 25%;
}




/*-------------------------------------------------
FILTER BY CITY
-------------------------------------------------*/
    .indexFilter{
      margin: 0px 10% 0px 10%;
      /*border: 2px solid red;  */
      width: 80%;
      overflow: auto;
    }

    .indexFilter p{
      font-size: 45px;
      line-height: 60px;
      font-family: 'Shadows Into Light Two', cursive; 
      font-weight: 800;

    }

  .leftUl{
    float: left;
    font-size: 20px;
    margin: 0px 0px 0px 15%;
    /*border: 1px solid black;  */
    line-height: 40px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
  }

 
  
  .rightUl{
    float: right;
    font-size: 20px;
    margin: 0px 15% 0px 0px;
    /*border: 1px solid yellow; */
    line-height: 40px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;

  }


    .leftUl a:visited {
        color: black;
        font-weight: 400;
    }


    .leftUl a:hover {
        color: #88a9e0;
    }


    .leftUl a:active {
        color: blue;
   } 

   .rightUl a:visited {
        color: black;
        font-weight: 400;
    }


    .rightUl a:hover {
        color: #88a9e0;
    }


    .rightUl a:active {
        color: blue;
   }


/*-------------------------------------------------
Post Your Ad
-------------------------------------------------*/
    .clickToChose{
      margin: 0px 10% 0px 10%;
      /*border: 2px solid red;  */
      width: 80%;
      /*overflow: auto;*/
    }

    .clickToChose p{
      font-size: 45px;
      color: green;
      line-height: 60px;
      font-family: 'Shadows Into Light Two', cursive; 
      font-weight: 800;

    }

  .leftPostAd{
    float: left;
    font-size: 30px;
    margin: 0px 0px 0px 10%;
    /*border: 3px solid #07419e;  */
    line-height: 40px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
  }

 
  
  .rightPostAd{
    float: right;
    font-size: 30px;
    margin: 0px 10% 0px 0px;
    /*border: 3px solid #07419e; */
    line-height: 40px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;

  }


    .leftPostAd a:visited {
        color: black;
        font-weight: 400;
    }


    .leftPostAd a:hover {
        color: #88a9e0;
    }


    .leftPostAd a:active {
        color: blue;
   } 

   .rightPostAd a:visited {
        color: black;
        font-weight: 400;
    }


    .rightPostAd a:hover {
        color: #88a9e0;
    }


    .rightPostAd a:active {
        color: blue;
   }



/*-------------------------------------------------
ALL AD COLLECTION PAGE
-------------------------------------------------*/



   .alladSelect, .alladSearch{
      width: 42%; /* Full width */
      padding: 12px; /* Some padding */  
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical;/* Allow the user to vertically resize the textarea (not horizontally) */
      font-family: 'Vollkorn', serif;
      font-size: 15px;
  }

  .allAdSearchSubmit{
    background-color: #4CAF50;
      color: white;
      width: 15%;
      height: 7%;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }




  .allAdDivImage{
    float: left;
    margin: 0 10px 10px 0;
  }

  .allAdDiv{
    margin: 0px 10% 0px 10%;
    border: 5px solid #ccc;
    padding: 20px;
    width: 70%;
  }

  .allAdDivTitle{
    font-size: 25px;
    /*line-height: 60px;*/
    color: #284e8c;
    font-family: 'Vollkorn', serif;
    font-weight: 800;
  }

  .allAdDiv p{
    font-size: 20px;
    /*line-height: 30px;*/
    font-family: 'Vollkorn', serif;
    font-weight: 800;
    /*margin: 0 0 0 250px;*/
  }

  /* Style the submit button with a specific background color etc */
    .allAdDivSubmit {
      background-color: #4CAF50;
      color: white;
      width: 25%;
      padding: 8px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

   .allAdDivSubmit a{
    font-size: 25px;
    color: white;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  .allAdDivSubmit:hover {
      background-color: #45a049;
  }


  .offerForRentDiv{
    margin: 0px 10% 0px 10%;
    border: 5px solid #ccc;
    padding: 30px;
    width: 70%;
  }

  .offerForRentDiv p{
    font-size: 20px;
    /*line-height: 30px;*/
    font-family: 'Vollkorn', serif;
    font-weight: 800;
  }




  .flatDetailsTab{
    clear: left;
    font-family: 'Vollkorn', serif;
    font-weight: 800;
    background-color: black;
    font-size: 25px;
    padding: 10px;
    padding-left: 50px;
    color: white;

  }


  .flatDetailsDiv{
  font-size: 18px;
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 20px;
  }

  /*-------------------------------------------------
   SETTING CSS CODE
  -------------------------------------------------*/
 
 .settingSidebar{
      /*width: 20%;
      min-height:  70%;
      padding: 0 0 0 35px;
      margin-left: 30px;
      font-family: 'Vollkorn', serif;
      font-size: 25px;
      font-weight: 800px;
      float: left;*/

      min-height: 70%;
      padding: 0 0 0 35px;
      margin-left: 10px;
      font-family: 'Vollkorn', serif;
      font-size: 20px;
      font-weight: 800px;
      float: left;
   }


    .settingSidebar a:visited {
        color: black;
        font-weight: 400;
    }


    .settingSidebar a:hover {
        color: #88a9e0;
    }


    .settingSidebar a:active {
        color: blue;
   } 




   .settingMainbar{
    width: 60%;
    min-height: 70%;
    margin: 0 0 0 25%;
   }

     .settingDiv{
      margin: 0px 10% 0px 10%;
      padding: 20px;
      width: 70%;
    }

      .settingTitle{
      font-size: 25px;
      color: #284e8c;
      font-family: 'Vollkorn', serif;
      font-weight: 800;
    }

   .myaccountTitle{
      font-size: 32px;
      color: #284e8c;
      font-family: 'Vollkorn', serif;
      font-weight: 800;
    }

    .settingDiv p{
      font-size: 20px;
      font-family: 'Vollkorn', serif;
      font-weight: 800;
    }

      /* Style the submit button with a specific background color etc */
    .logout {
      background-color: red;
      color: white;
      width: 20%;
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

   .logout a{
    font-size: 35px;
    color: white;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  .logout:hover {
      background-color: #45a049;
  }

